button {
  position: absolute;
  top: 10;
  left: 10;
  z-index: 100;
  width: 100px;
  border-radius: 5px;
  border: none;
  height: 20px;
  background-color: #000;
  background: solid;
  color: #ffffff;
}

button:hover{
  background: #101010;
}

button:active{
  background: #707070;
  color: #000;
}

table {
  font-family: -apple-system;
  font-size: 12;
  padding: 0 10px;
  position: absolute;
  top: 40;
  left: 10;
  z-index: 100;
  border-radius: 5px;
  border: none;
  background-color: #000;
  background: solid;
  color: #ffffff;
  white-space: pre;
}
